USE [master]
GO
/****** Object:  Database [QLKHACHSAN]    Script Date: 4/14/2022 10:31:36 PM ******/
CREATE DATABASE [QLKHACHSAN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLKHACHSAN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLKHACHSAN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLKHACHSAN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLKHACHSAN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLKHACHSAN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLKHACHSAN]
GO
/****** Object:  Table [dbo].[tb_DATPHONG]    Script Date: 4/14/2022 10:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_DATPHONG](
	[IDDATPHONG] [int] IDENTITY(1,1) NOT NULL,
	[IDKHACHHANG] [int] NOT NULL,
	[GHICHU] [nvarchar](1000) NOT NULL,
	[TRANGTHAI] [bit] NOT NULL,
 CONSTRAINT [PK__tb_DATPH__F96B733F1CF07477] PRIMARY KEY CLUSTERED 
(
	[IDDATPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_DATPHONGCHITIET]    Script Date: 4/14/2022 10:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_DATPHONGCHITIET](
	[MALOAIPHONG] [int] NOT NULL,
	[IDDATPHONG] [int] NOT NULL,
	[SONGUOIO] [int] NOT NULL,
	[GIODAT] [datetime] NULL,
	[GIOTRA] [datetime] NULL,
	[THANHTIEN] [bigint] NOT NULL,
 CONSTRAINT [PK__tb_DATPH__6DB68D45220F9035] PRIMARY KEY CLUSTERED 
(
	[MALOAIPHONG] ASC,
	[IDDATPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_KHACHHANG]    Script Date: 4/14/2022 10:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_KHACHHANG](
	[IDKHACHHANG] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](100) NOT NULL,
	[DIENTHOAI] [nvarchar](12) NOT NULL,
	[EMAIL] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__tb_KHACH__629294BE4D6045CB] PRIMARY KEY CLUSTERED 
(
	[IDKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_KHACHSAN]    Script Date: 4/14/2022 10:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_KHACHSAN](
	[MAKHACHSAN] [nvarchar](100) NOT NULL,
	[TENKHACHSAN] [nvarchar](100) NOT NULL,
	[DIACHI] [nvarchar](1000) NOT NULL,
	[GGMAP] [nvarchar](1000) NOT NULL,
	[HINHANH] [nvarchar](100) NOT NULL,
	[HANG] [int] NOT NULL,
	[NGUNG] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHACHSAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_LOAIPHONG]    Script Date: 4/14/2022 10:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_LOAIPHONG](
	[IDLOAIPHONG] [int] IDENTITY(1,1) NOT NULL,
	[MAKHACHSAN] [nvarchar](100) NOT NULL,
	[TENLOAIPHONG] [nvarchar](500) NOT NULL,
	[MOTA] [nvarchar](2000) NULL,
	[HINHANH] [nvarchar](100) NULL,
	[GIAPHONG] [float] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[TRANGTHAI] [bit] NOT NULL,
	[NGUNG] [bit] NOT NULL,
 CONSTRAINT [PK__tb_LOAIP__82203A7693D2280F] PRIMARY KEY CLUSTERED 
(
	[IDLOAIPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_TAIKHOAN]    Script Date: 4/14/2022 10:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_TAIKHOAN](
	[IDTAIKHOAN] [int] IDENTITY(1,1) NOT NULL,
	[MAKHACHSAN] [nvarchar](100) NOT NULL,
	[HOTEN] [nvarchar](100) NOT NULL,
	[DIENTHOAI] [nvarchar](12) NOT NULL,
	[EMAIL] [nvarchar](100) NOT NULL,
	[PASSWORD] [nvarchar](100) NOT NULL,
	[ADMIN] [bit] NOT NULL,
 CONSTRAINT [PK__tb_TAIKH__FB332DA2B69949C9] PRIMARY KEY CLUSTERED 
(
	[IDTAIKHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tb_DATPHONG] ON 

INSERT [dbo].[tb_DATPHONG] ([IDDATPHONG], [IDKHACHHANG], [GHICHU], [TRANGTHAI]) VALUES (1, 1, N'khongco', 0)
SET IDENTITY_INSERT [dbo].[tb_DATPHONG] OFF
GO
INSERT [dbo].[tb_DATPHONGCHITIET] ([MALOAIPHONG], [IDDATPHONG], [SONGUOIO], [GIODAT], [GIOTRA], [THANHTIEN]) VALUES (1, 1, 2, CAST(N'2022-04-14T06:59:00.000' AS DateTime), CAST(N'2022-04-14T08:00:00.000' AS DateTime), 1000000)
GO
SET IDENTITY_INSERT [dbo].[tb_KHACHHANG] ON 

INSERT [dbo].[tb_KHACHHANG] ([IDKHACHHANG], [HOTEN], [DIENTHOAI], [EMAIL]) VALUES (1, N'Nguyễn Phú Đức', N'0964732231', N'nguyenphuduc62001@gmail.com')
INSERT [dbo].[tb_KHACHHANG] ([IDKHACHHANG], [HOTEN], [DIENTHOAI], [EMAIL]) VALUES (2, N'Nguyễn Đức Hâu', N'0964732232', N'mail@gmail.com')
INSERT [dbo].[tb_KHACHHANG] ([IDKHACHHANG], [HOTEN], [DIENTHOAI], [EMAIL]) VALUES (3, N'Đỗ Thành Công', N'0964732233', N'cong@gmail.com')
SET IDENTITY_INSERT [dbo].[tb_KHACHHANG] OFF
GO
INSERT [dbo].[tb_KHACHSAN] ([MAKHACHSAN], [TENKHACHSAN], [DIACHI], [GGMAP], [HINHANH], [HANG], [NGUNG]) VALUES (N'RSLONGCUNG', N'Long Cung Resort', N'86 Đường D5, Phường 10, Thành phố Vũng Tầu, Bà Rịa - Vũng Tàu', N'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6744.905174365585!2d107.12163447853344!3d10.37327519388019!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8e1442fd3d0eceb0!2sLong%20Cung%20Resort!5e0!3m2!1svi!2s!4v1649937044583!5m2!1svi!2s', N'https://lh5.googleusercontent.com/p/AF1QipPS-hMD3Cfe1NVfuJ2AyJSy55aACYYsbLRC4rbf=w408-h306-k-no', 4, 0)
GO
SET IDENTITY_INSERT [dbo].[tb_LOAIPHONG] ON 

INSERT [dbo].[tb_LOAIPHONG] ([IDLOAIPHONG], [MAKHACHSAN], [TENLOAIPHONG], [MOTA], [HINHANH], [GIAPHONG], [SOLUONG], [TRANGTHAI], [NGUNG]) VALUES (1, N'HSTTINHBAN', N'Phòng Hướng Biển', N'mota', N'hinhanh', 500000, 100, 1, 0)
INSERT [dbo].[tb_LOAIPHONG] ([IDLOAIPHONG], [MAKHACHSAN], [TENLOAIPHONG], [MOTA], [HINHANH], [GIAPHONG], [SOLUONG], [TRANGTHAI], [NGUNG]) VALUES (2, N'HSTTINHBAN', N'Phòng Hướng Biển VIP 1', N'mota', N'hinhanh', 800000, 100, 1, 0)
INSERT [dbo].[tb_LOAIPHONG] ([IDLOAIPHONG], [MAKHACHSAN], [TENLOAIPHONG], [MOTA], [HINHANH], [GIAPHONG], [SOLUONG], [TRANGTHAI], [NGUNG]) VALUES (3, N'RSLONGCUNG', N'Phòng VIP2', N'mota', N'hinhanh', 800000, 50, 1, 0)
SET IDENTITY_INSERT [dbo].[tb_LOAIPHONG] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_TAIKHOAN] ON 

INSERT [dbo].[tb_TAIKHOAN] ([IDTAIKHOAN], [MAKHACHSAN], [HOTEN], [DIENTHOAI], [EMAIL], [PASSWORD], [ADMIN]) VALUES (1, N'RSLONGCUNG', N'NV1', N'0987654321', N'mail@gmail.com', N'123', 1)
SET IDENTITY_INSERT [dbo].[tb_TAIKHOAN] OFF
GO
ALTER TABLE [dbo].[tb_DATPHONG]  WITH CHECK ADD  CONSTRAINT [FK__tb_DATPHO__IDKHA__30F848ED] FOREIGN KEY([IDKHACHHANG])
REFERENCES [dbo].[tb_KHACHHANG] ([IDKHACHHANG])
GO
ALTER TABLE [dbo].[tb_DATPHONG] CHECK CONSTRAINT [FK__tb_DATPHO__IDKHA__30F848ED]
GO
ALTER TABLE [dbo].[tb_DATPHONGCHITIET]  WITH CHECK ADD  CONSTRAINT [FK__tb_DATPHO__IDDAT__31EC6D26] FOREIGN KEY([IDDATPHONG])
REFERENCES [dbo].[tb_DATPHONG] ([IDDATPHONG])
GO
ALTER TABLE [dbo].[tb_DATPHONGCHITIET] CHECK CONSTRAINT [FK__tb_DATPHO__IDDAT__31EC6D26]
GO
ALTER TABLE [dbo].[tb_DATPHONGCHITIET]  WITH CHECK ADD  CONSTRAINT [FK__tb_DATPHO__MALOA__300424B4] FOREIGN KEY([MALOAIPHONG])
REFERENCES [dbo].[tb_LOAIPHONG] ([IDLOAIPHONG])
GO
ALTER TABLE [dbo].[tb_DATPHONGCHITIET] CHECK CONSTRAINT [FK__tb_DATPHO__MALOA__300424B4]
GO
ALTER TABLE [dbo].[tb_LOAIPHONG]  WITH CHECK ADD  CONSTRAINT [FK__tb_LOAIPH__MAKHA__2E1BDC42] FOREIGN KEY([MAKHACHSAN])
REFERENCES [dbo].[tb_KHACHSAN] ([MAKHACHSAN])
GO
ALTER TABLE [dbo].[tb_LOAIPHONG] CHECK CONSTRAINT [FK__tb_LOAIPH__MAKHA__2E1BDC42]
GO
ALTER TABLE [dbo].[tb_TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK__tb_TAIKHO__MAKHA__2F10007B] FOREIGN KEY([MAKHACHSAN])
REFERENCES [dbo].[tb_KHACHSAN] ([MAKHACHSAN])
GO
ALTER TABLE [dbo].[tb_TAIKHOAN] CHECK CONSTRAINT [FK__tb_TAIKHO__MAKHA__2F10007B]
GO
USE [master]
GO
